.header{
    position: fixed;
    left: 0;
    right: 0;
	z-index: 1;
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right:20px;
    font-size: 20px;
    padding: 6px 8px 9px;
}
.header nav a:hover{
    background-color:#06abeb;
    color: white;
}